.header{
    background-image: url(/img//sung-jinwoo-3840x2160-21523.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.shadow-box{
    box-shadow: #252525 0px 0px 1px 1px;
}
.fix-header{
    position: fixed;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

